* {font-family: Helvetica;}
.main-banner {background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");}
h1 {font-size: 100px; font-weight:bold; color:khaki; text-align:center;opacity:1; }
h2 {font-size: 32px; font-weight: bold;color: white;}
#brushes {background-color: mediumspringgreen;}
#frames {background-color: lightcoral;}
#paints {background-color: skyblue;}
.contact {background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg"); font-size: 50px;}
.price {color: blue; font-weight: bold;}
.index {font-size: 18px; text-decoration-style: wavy;text-align: left;color: brown;border-style: solid;}
